<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" routerLink="/dashboard">
            <img src="../../../assets/img/logo.jpg" alt="">

        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" >Inicio</a>
            </li>


            <li *ngIf="isAdmin()" class="nav-item">
                <a class="nav-link" routerLink="/condominio">Condominios</a>
            </li>


            <li *ngIf="isAdmin()" class="nav-item">
                <a class="nav-link" routerLink="/copropietario">Copropietarios</a>
            </li>
            
            <li *ngIf="isCopropopietario()" class="nav-item">
                <a class="nav-link" href="#">estado de cuenta</a>
            </li>
        </ul>
        <form class="part-end d-flex">
            
            <button class="btn btn-danger " (click)="logOut()" type="button">Cerrar Sesion</button>
        </form>
        </div>
    </div>
</nav>