<app-navbar></app-navbar>

<div class="body-condominio-page">
    <button *ngIf="visibleCopropietario()"     (click)="resetCondominio()">Volver a los Condominios</button>
    
    <div *ngIf="!visibleCopropietario()" class="body-condominio">
        <div *ngIf="!loading" class="container-condominios">
            <div *ngFor="let condominio of listCondominios" class="card-condominio" (click)="onClickCondominio(condominio)">
                <div class="img-card-condominio">
                    <img src="../../../assets/img/logo-condominio.png" alt="">
                </div>
                <div class="description-condominio">
                    <h2>{{condominio.nombre}}</h2>
                </div>
                
            </div>
        </div>
        <app-spinner *ngIf="loading"></app-spinner>
    </div>

    <h1 *ngIf="visibleCopropietario()">{{condominio.nombre}}</h1>
    <app-copropietario-table *ngIf="visibleCopropietario()" [condominio]="condominio"></app-copropietario-table>
</div>

